<div class="container">
  <div class="header">
    <div class="brand">Social Post</div>
    <div class="nav"></div>
    <div class="buttons">
      <div class="button" (click)="connectWallet()">Connect Wallet</div>
    </div>
  </div>
  <div class="feeds">
    <div class="inputsection">
      <input type="text" [(ngModel)]="postField" class="input" />
      <div class="button" (click)="post()">Post</div>
    </div>
    <div class="feedlist">
      <div class="feed" *ngFor="let post of feeds | async">
        <div class="owner">{{ post.owner }}</div>
        <div class="post">{{ post.content }}</div>
      </div>
    </div>
  </div>
</div>
