<div class="container">
  <div class="header">
    <div class="brand">Social Post</div>
    <div class="nav"></div>
    <div class="buttons" *ngIf="walletAddress | async as wallet">
      <div
        class="button"
        *ngIf="wallet.address == null"
        (click)="connectWallet()"
      >
        Connect Wallet
      </div>
      <div class="button" *ngIf="wallet.address">
        {{ getShortenedAddress(wallet.address) }}
      </div>
    </div>
  </div>
  <div class="feeds">
    <div class="inputsection">
      <input type="text" [(ngModel)]="postField" class="input" />
      <div *ngIf="!(postPending | async)" class="button" (click)="post()">
        Post
      </div>
      <div *ngIf="postPending | async" class="button">
        Posting
        <div class="lds-ring" style="zoom: 0.25">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
    <div class="feedlist">
      <ng-container *ngIf="!(loaded | async) && (loading | async)">
        <div class="lds-roller">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </ng-container>
      <div class="feed" *ngFor="let post of feeds | async">
        <div class="owner">
          <label> Posted By </label>
          <span> {{ post.ens || post.owner }}</span>
        </div>
        <div class="post">{{ post.content }}</div>
      </div>
    </div>
    <div
      *ngIf="loaded | async"
      class="button outline"
      style="display: flex"
      (click)="getAllPosts()"
    >
      <div class="text">Load More</div>
      <ng-container *ngIf="loading | async">
        <div class="lds-roller" style="zoom: 0.25">
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
          <div></div>
        </div>
      </ng-container>
    </div>
  </div>
</div>
